<!DOCTYPE html>
<html lang="en" ng-app="DIApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="angular.min.js"></script>
    <script src="dependency.js"></script>
    <title>Dependency Injection in Javascript (angularjs)</title>
  </head>
  <body>
    <h1>Dependency Injection in Javascript (angularjs)</h1>
    <div ng-controller="DIController">
      <input type="text" ng-model="name" ng-blur="upper()" />
      <div>
        <h1>{{name}}</h1>
        <div ng-repeat="item in radioButtonValues">
          <input
            type="radio"
            ng-required="properties.required"
            ng-disabled="true"
            name="pbRadioBox1"
            ng-value="item.label"
            ng-checked="selectedValue"
          />
          <label for="html">{{item.label}}</label><br />
        </div>
        <button ng-click="feedBryan()">Feed Bryan</button>
        <br />
        <img ng-src="images/bryan_{{stateOfBeing}}.png" alt="" />
      </div>
      <div>
        nueo
        <input type="text" ng-model="value2" ng-change="inputCheck()" />
        <p ng-if="showRegexError">{{showRegexError}}</p>
      </div>
    </div>
  </body>
</html>
